format = """
$directory$git_branch$git_status
$character
"""

[directory]
truncation_length = 3
truncate_to_repo = true
style = "bold cyan"

[git_branch]
symbol = "+"
style = "bold purple"

[git_status]
style = "red"

[character]
success_symbol = "[❯](bold green) "
error_symbol   = "[❯](bold red) "

[package]
disabled = true

[rust]
disabled = true

[gcloud]
disabled = true

[cmd_duration]
disabled = true

[nodejs]
disabled = true

[python]
disabled = true

